<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>TABATA</h1>
    <p>
      Hi {{name}},</br>
      You signed up to Tabata.</br>
      Please confirm your e-mail address by clicking the link below.
    </p>
    <button>
      <a href="{{{url}}}{{_id}}">Confirm</a>
    </button>
    </body>
</html>
