<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>TABATA</h1>
    <p>
      Hi {{name}},</br>
      Youre password is ready to reset.</br>
      Please follow the instructions after clicking the link below.
    </p>
    <button>
      <a href="{{{url}}}{{token}}">Reset</a>
    </button>
    </body>
</html>
